<!DOCTYPE html>
	<html lang="en">
		<!-- head -->
		{% include head.html %}
		<body>
    		<!-- Navigation -->
			{% include navigation.html %}
		    <!-- Page Header -->
			<!-- Set your background image for this header on the line below. -->
			{% include header.html %}
			
			<!-- Main Content -->
			<div class="container">
				<div class="row">
					<div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
						<h1>Eric is:</h1>
							<p>A moderator at <a href"http://sharepoint.stackexchange.com/">sharepoint.stackexchange</a>, if you have SharePoint questions or want to get involved, stop over. We need more experts contributing to our community!</p>
							<p><a href="http://stackexchange.com/users/123971/eric-alexander"><img src="http://stackexchange.com/users/flair/123971.png" width="208" height="58" alt="profile for Eric Alexander on Stack Exchange, a network of free, community-driven Q&amp;A sites" title="profile for Eric Alexander on Stack Exchange, a network of free, community-driven Q&amp;A sites" /></a></p>
							<p>A seasoned SharePoint developer and administrator. I've been working with SharePoint for over 10 years, starting as a deer in the headlights organizing a team site to store our documentaion, to administrating and developing against SharePoint 2010, 2013, and SharePoint Online.</p>
					</div>
				</div>
			</div>

			<hr>
			<!-- Footer -->
	    	{% include footer.html %}
			<!-- Scripts -->
			{% include scripts.html %}
		</body>
	</html>
