<!DOCTYPE html>
	<html lang="en">
		<!-- head -->
		{% include head.html %}
		<body>
    		<!-- Navigation -->
			{% include navigation.html %}
		    <!-- Page Header -->
			<!-- Set your background image for this header on the line below. -->
			{% include header.html %}
			
			<!-- Main Content -->
			<div class="container">
				<div class="row">
					<div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
						<h1>Eric is:</h1>
						<ul>
							<li>
								<div>A moderator at <a href"http://sharepoint.stackexchange.com/">sharepoint.stackexchange</a></div>
								<div><a href="http://stackexchange.com/users/123971/eric-alexander"><img src="http://stackexchange.com/users/flair/123971.png" width="208" height="58" alt="profile for Eric Alexander on Stack Exchange, a network of free, community-driven Q&amp;A sites" title="profile for Eric Alexander on Stack Exchange, a network of free, community-driven Q&amp;A sites" /></a></div>
							</li>
							<li>A seasoned SharePoint developer and administrator</li>
						</ul>
					</div>
				</div>
			</div>

			<hr>
			<!-- Footer -->
	    	{% include footer.html %}
			<!-- Scripts -->
			{% include scripts.html %}
		</body>
	</html>
