<!DOCTYPE html>
	<html lang="en">
		{% include head.html %}
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">Home</a></li>
		        	<li><a href="/about">About</a></li>
	        		<li><a href="/blog">Blog</a></li>
				<li><a href="/blog/atom.xml">Feed</a></li>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div>
			<footer>
	    		<ul>
	        		<li><a href="https://github.com/ejaya2">github.com/ejaya2</a></li>
              <li><a href="https://www.linkedin.com/in/eric-alexander-06827952">Me on LinkedIn</a></li> 
				</ul>
			</footer>
		</body>
	</html>
