<!DOCTYPE html>
<html lang="en">
	<!-- head -->
	{% include head.html %}
	<body>
    		<!-- Navigation -->
		{% include navigation.html %}
		<!-- Page Header -->
		{% include header.html %}
			
		<!-- Main Content -->
		<div class="container">
			<h1 class="post-title"><a href="{{ page.url }}" title="Permalink for this article">{{ page.title }}</a></h1>
			<h2 class="post-subtitle">{{ page.subtitle }}</h2>
			<h4>Posted on <a href="{{ page.url }}" title="Permalink for this article">{{ page.date | date_to_long_string }}</a> by {{ page.author }} in the category {{ page.category }}</h4>
			<h4 class="item_tags">Tagged under: {% for tag in page.tags %}{{ tag }} {% if forloop.last != true %}, {% endif %}{% endfor %}</h4>
			{{ content }}
		</div>

		<hr>
		<!-- Footer -->
	    	{% include footer.html %}
		<!-- Scripts -->
		{% include scripts.html %}
	</body>
</html>

